@import url('font-awesome-4.7.0/css/font-awesome.min.css');

p{
    color: red;
}

ul{
    list-style-type: none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li a:hover{
    text-decoration: none;
}
.container-wrap{
    width: 60%;
    margin: 0 auto;
}
.relative{
    position: relative;
}

/*Botón flotante*/
.btn-floating-container{
    position: fixed;
    left: 80%;
    bottom: 10%;
}

.btn-floating{
    margin: 0 auto;  
    display: block;
    width: 60px;
    height: 60px;
    background-color: #304FFE;
    border-radius: 50%;
}

.btn-info{
    display: none;
}

.btn-floating:hover{
    -webkit-box-shadow: -1px 1px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 37px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 37px 0px rgba(0,0,0,0.75);   
}

.btn-floating:hover .btn-info{
    display: block;
}

.btn-floating i{
    color: white;
    position: absolute;
    left: 15px;
    top: 16px;
    font-size: 2em;
}

/*Barra de navegación*/
.navbar-main{
    margin: 20px 0 10px 0;
}

.navbar-item{
    padding-top: 10px;
    padding-right: 2.5em;
}

/*Galería de albumes*/
.media-container{
    max-width: 200px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    overflow: hidden;
}

.media-container:hover{
    -webkit-box-shadow: -1px 1px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 37px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 37px 0px rgba(0,0,0,0.75);  
}

.media-container figcaption{
    padding: 16px 16px 0 16px;
}

.gallery-herder{
    display: flex;
    justify-content: space-between;
}

.gallery-herder a{
    padding-top: 20px;
    padding-right: 70px;
}

/*Visor de imagenes*/
.visor{
    overflow: hidden;
}

.visor img{
    width: 100%;
}

.visor-nav{
    position: absolute;
    top: 0;  
    background: black;

}

.visor-nav:hover{
    background: white;
}

.visor-nav:hover a{
    color: black;
    font-weight: bold;
}

.visor-nav a{
    display: block;
    color: white;
    padding: 10px;
}

.visor-nav a i{
    padding-right: 8px;
}

/*Comentarios*/
.comment h2{
    font-size: 1.1em;
    font-weight: bold;
}

.comment p{
    color: black;
}

.comments{
    max-height: 400px;
    overflow: auto;
}

/*Agregar comentario*/
.form form{
    display: flex;
    justify-content: space-between;
}

.form form .form-group{
    width: 75%;
    margin: 0;
}

.form form input[type="submit"]{
    width: 23%;
    max-height: 34px;
}